{% extends "layout.html" %}

{% block title %}Welcome to your LilGuy app{% endblock %}




{% block content %}
<article>
    <header>
        <h1>Welcome to your new app!</h1>
        <p>This page is rendered from <code>templates/index.html</code></p>
    </header>

    <h2>Getting Started</h2>
    <ul>
        <li>Edit <code>app.lua</code> to add routes and logic</li>
        <li>Modify templates in the <code>templates/</code> directory</li>
        <li>Put css, js, and image files in <code>assets/</code></li>
    </ul>

    <h2>Some Ideas</h2>
    <p>This button counts how many times it's been clicked using htmx. This is using "global tables",
        a lilguy feature that allows you to store data in a table that is persisted in sqlite.
    </p>
    <button hx-get="/click/foo" hx-swap="content">foo</button>

    <p>
        Below is a second button just for fun.
    </p>
    <button hx-get="/click/bar" hx-swap="content">bar</button>

    {% if message %}
    <div role="alert">{{ message }}</div>
    {% endif %}
</article>
{% endblock %}
